{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Добавить возможность отражения картинок при загрузке</p>
        <p>Привязать каталог оборудования, добавить под каталог отдельную кнопку</p>
        <p>Выпадающий список для заполнения "Добавить в реестр"</p>
        <p>Идентификация суперпользователей как сотрудников имеющих доступ к редактированию и удалению записей</p>
        <p>Добавить лого и проверить айдентику</p>
        <p>Добавить форму обратной связи для доработок с яндексформ</p>
        <p>скорректировать форму детаил вью</p>
        <p>https://docs.djangoproject.com/en/5.0/ref/contrib/admin/</p>
        <button class="btn btn-warning">На страницу "О проекте"</button>
    </div>
{% endblock %}