{% extends 'main/layout.html' %}

{% block title %}Добавить в реестр{% endblock %}

{% block content %}
    <div class="features">
        <h1>Добавить в реестр</h1>
        <p>Заглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстом</p>
        <button class="btn btn-success">На страницу "О проекте"</button>
    </div>
{% endblock %}