{% extends 'main/layout.html' %}

{% block title %}Добавить в реестр{% endblock %}

{% block content %}
    <div class="features">
        <h1>Добавить запись в реестр</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Наименование" maxlength="250" class="form-control"><br>
            <input type="text" placeholder="Артикул поставщика" maxlength="250" class="form-control"><br>
            <input type="text" placeholder="Артикул ЛМ" maxlength="250" class="form-control"><br>
            <input type="number" placeholder="Длина" class="form-control"><br>
            <input type="number" placeholder="Ширина" class="form-control"><br>
            <input type="number" placeholder="Высота" class="form-control"><br>
            <input type="text" placeholder="Магазин" maxlength="250" class="form-control"><br>
            <input type="number" placeholder="Количество" class="form-control"><br>
            <input type="text" placeholder="Адрес хранения" maxlength="250" class="form-control"><br>
            <input type="file" placeholder="Фото" class="form-control"><br>
            <input type="date" placeholder="Дата" class="form-control"><br>
            <button class="btn btn-success" type="submit">Добавить запись</button>
        </form>
    </div>
{% endblock %}