{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Реестр оборудования</h1>
        <p>Заглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстомЗаглушка текстом</p>
        <button class="btn btn-warning">На страницу "О проекте"</button>
    </div>
<!--    {% include 'main/test.html' %}-->
{% endblock %}